.App {
  text-align: center;
}

.h5 {
  text-align: right;
}

.boton {
  border-radius: 10px;
}

.contenedor{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-style: solid;
  width: fit-content;
}

.contenedor-2{
  margin-top: 10px;
  margin-bottom: 30px;
}
